node_modules/**
!node_modules/prettier/**
!node_modules/prettier-plugin-sh/**
!node_modules/sh-syntax/**
out/
src/
test/
docs/
coverage/
*.vsix
*.map
.DS_Store
.github/
.vscode/
babel.config.js
esbuild.config.js
jest.config.js
tsconfig.json
.eslintrc.json
.prettierrc
.gitignore
