node_modules/**
!node_modules/prettier/**
!node_modules/prettier-plugin-sh/**
!node_modules/sh-syntax/**
!node_modules/espree/**
!node_modules/acorn/**
!node_modules/acorn-jsx/**
!node_modules/eslint-visitor-keys/**
!node_modules/prettier-plugin-sql/**
!node_modules/node-sql-parser/**
!node_modules/moo/**
!node_modules/nearley/**
!node_modules/@astral-sh/ruff-wasm-nodejs/**
out/
src/
test/
docs/
coverage/
*.vsix
*.map
.DS_Store
.github/
.vscode/
babel.config.js
esbuild.config.js
jest.config.js
tsconfig.json
.eslintrc.json
.prettierrc
.gitignore
